In [3]:
import geopandas
import matplotlib.pyplot as plt

gdf_ala = geopandas.read_file("/workspaces/CYPLAN-255/raw_census_tracts/census_tracts/Census_Tract_Boundaries_7506545346012929933.geojson")


new_names = (
    gdf_ala.columns
    .str.replace(' #', '_num')
    .str.replace('-', '_') # this is for one problem making column `'community - board'`
    .str.replace(' ', '_')
    .str.lower()
)

if new_names.is_unique == 1:
    gdf_ala.columns = new_names # updates my column names
gdf_ala.columns

gdf_ala['dist_name'] = gdf_ala['dist_name'].str.replace('CENSUS TRACT #', 'Census Tract ')


gdf_ala.head()

,objectid,dist_name,district_id,geometry
0,1,Census Tract 4001,184,"POLYGON ((-122.24466 37.88364, -122.24256 37.8..."
1,2,Census Tract 4002,185,"POLYGON ((-122.24478 37.85173, -122.24471 37.8..."
2,3,Census Tract 4003,186,"POLYGON ((-122.24939 37.83924, -122.25011 37.8..."
3,4,Census Tract 4004,187,"POLYGON ((-122.25313 37.85154, -122.25307 37.8..."
4,5,Census Tract 4005,188,"POLYGON ((-122.26017 37.85262, -122.26025 37.8..."

In [5]:
import geopandas
import matplotlib.pyplot as plt

gdf_acs = geopandas.read_file("/workspaces/CYPLAN-255/raw_census_tracts/census_tracts/tl_2023_06_tract.shp")

new_names = (
    gdf_acs.columns
    .str.replace(' #', '_num')
    .str.replace('-', '_') # this is for one problem making column `'community - board'`
    .str.replace(' ', '_')
    .str.lower()
)

if new_names.is_unique == 1:
    gdf_acs.columns = new_names # updates my column names
gdf_acs.columns

mask = gdf_acs['namelsad'].isin(gdf_ala['dist_name'].to_list()) # This also returns a Boolean mask
gdf_acs_ala = gdf_acs.loc[mask]
gdf_acs_ala

gdf_acs_ala.to_file("/workspaces/CYPLAN-255/final_census_tracts/acs_ala_ct.geojson", driver="GeoJSON")