In [9]:
# import pandas and numpy module  
import pandas as pd  
import numpy as np


# making dataframe  
ridership = pd.read_csv("Ridership.csv")  
   
# output the dataframe 
ridership.head()

,Day Type,Route,Jan-22,Feb-22,Mar-22,Apr-22,May-22,Jun-22,Jul-22,Aug-22,...,Mar-24,Apr-24,May-24,Jun-24,Jul-24,Aug-24,Sep-24,Oct-24,Nov-24,Dec-24
0,Weekday,1T,"11,638","12,206","12,335","11,994","12,809","12,047","12,229","13,278",...,"16,476","17,486","18,094","15,986","14,494","15,735","16,903","17,576","15,734","16,737"
1,Weekday,51B,"4,837","7,831","6,968","7,670","6,371","5,061","5,399","7,454",...,"7,916","8,535","6,362","5,128","5,355","7,077","9,538","9,244","8,112","6,360"
2,Weekday,40,"5,328","5,455","5,791","4,920","5,638","4,907","4,520","5,202",...,"6,180","6,126","6,574","5,566","4,892","6,110","6,740","7,144","6,055","6,243"
3,Weekday,51A,"4,453","4,638","4,860","5,296","5,202","4,787","4,967","5,392",...,"6,080","6,103","6,496","5,784","5,450","6,107","6,643","6,772","5,882","5,771"
4,Weekday,57,"2,917","3,446","3,510","3,259","3,737","3,392","3,161","3,981",...,"4,912","4,963","5,408","4,921","4,437","5,240","5,459","5,539","4,914","4,788"

In [10]:
new_names = (
    ridership.columns
    .str.replace(' #', '_num')
    .str.replace('-', '_') # this is for one problem making column `'community - board'`
    .str.replace(' ', '_')
    .str.lower()
)

if new_names.is_unique == 1:
    ridership.columns = new_names # updates my column names
ridership.columns

#replacing ridership 0 values with nan
ridership = ridership.replace("0", np.nan)
ridership = ridership.replace("NaN", np.nan)

ridership

,day_type,route,jan_22,feb_22,mar_22,apr_22,may_22,jun_22,jul_22,aug_22,...,mar_24,apr_24,may_24,jun_24,jul_24,aug_24,sep_24,oct_24,nov_24,dec_24
0,Weekday,1T,"11,638","12,206","12,335","11,994","12,809","12,047","12,229","13,278",...,"16,476","17,486","18,094","15,986","14,494","15,735","16,903","17,576","15,734","16,737"
1,Weekday,51B,"4,837","7,831","6,968","7,670","6,371","5,061","5,399","7,454",...,"7,916","8,535","6,362","5,128","5,355","7,077","9,538","9,244","8,112","6,360"
2,Weekday,40,"5,328","5,455","5,791","4,920","5,638","4,907","4,520","5,202",...,"6,180","6,126","6,574","5,566","4,892","6,110","6,740","7,144","6,055","6,243"
3,Weekday,51A,"4,453","4,638","4,860","5,296","5,202","4,787","4,967","5,392",...,"6,080","6,103","6,496","5,784","5,450","6,107","6,643","6,772","5,882","5,771"
4,Weekday,57,"2,917","3,446","3,510","3,259","3,737","3,392","3,161","3,981",...,"4,912","4,963","5,408","4,921","4,437","5,240","5,459","5,539","4,914","4,788"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,Weekday,611,13,11,17,9,19,144,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,Weekday,614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,Weekday,639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,Weekday,706,12,13,13,10,11,12,13,14,...,11,11,11,7,10,3,NaN,NaN,NaN,NaN
135,Weekday,707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2,2,1,2,1,NaN,NaN,NaN,NaN

In [11]:
for col in ridership.columns:
    if ridership[col].dtype == 'object':  # Check if the column is of type object (string)
        ridership[col] = ridership[col].str.replace(',', '')

for col in ridership.columns:
    if ridership[col].name != "day_type":
        if ridership[col].name != "route":
            ridership[col] = ridership[col].astype(float)

ridership.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 38 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   day_type  136 non-null    object
 1   route     136 non-null    object
 2   jan_22    129 non-null    float64
 3   feb_22    129 non-null    float64
 4   mar_22    129 non-null    float64
 5   apr_22    129 non-null    float64
 6   may_22    129 non-null    float64
 7   jun_22    129 non-null    float64
 8   jul_22    85 non-null     float64
 9   aug_22    130 non-null    float64
 10  sep_22    131 non-null    float64
 11  oct_22    131 non-null    float64
 12  nov_22    131 non-null    float64
 13  dec_22    131 non-null    float64
 14  jan_23    131 non-null    float64
 15  feb_23    131 non-null    float64
 16  mar_23    131 non-null    float64
 17  apr_23    131 non-null    float64
 18  may_23    131 non-null    float64
 19  jun_23    87 non-null     float64
 20  jul_23    87 non-null     float64
 21  aug_23    133 non-null    float64
 22  sep_23    132 non-null    float64
 23  oct_23    132 non-null    float64
 24  nov_23    132 non-null    float64
 25  dec_23    132 non-null    float64
 26  jan_24    132 non-null    float64
 27  feb_24    132 non-null    float64
 28  mar_24    132 non-null    float64
 29  apr_24    132 non-null    float64
 30  may_24    132 non-null    float64
 31  jun_24    128 non-null    float64
 32  jul_24    86 non-null     float64
 33  aug_24    132 non-null    float64
 34  sep_24    130 non-null    float64
 35  oct_24    130 non-null    float64
 36  nov_24    130 non-null    float64
 37  dec_24    130 non-null    float64
dtypes: float64(36), object(2)
memory usage: 40.5+ KB

In [12]:
ridership

,day_type,route,jan_22,feb_22,mar_22,apr_22,may_22,jun_22,jul_22,aug_22,...,mar_24,apr_24,may_24,jun_24,jul_24,aug_24,sep_24,oct_24,nov_24,dec_24
0,Weekday,1T,11638.0,12206.0,12335.0,11994.0,12809.0,12047.0,12229.0,13278.0,...,16476.0,17486.0,18094.0,15986.0,14494.0,15735.0,16903.0,17576.0,15734.0,16737.0
1,Weekday,51B,4837.0,7831.0,6968.0,7670.0,6371.0,5061.0,5399.0,7454.0,...,7916.0,8535.0,6362.0,5128.0,5355.0,7077.0,9538.0,9244.0,8112.0,6360.0
2,Weekday,40,5328.0,5455.0,5791.0,4920.0,5638.0,4907.0,4520.0,5202.0,...,6180.0,6126.0,6574.0,5566.0,4892.0,6110.0,6740.0,7144.0,6055.0,6243.0
3,Weekday,51A,4453.0,4638.0,4860.0,5296.0,5202.0,4787.0,4967.0,5392.0,...,6080.0,6103.0,6496.0,5784.0,5450.0,6107.0,6643.0,6772.0,5882.0,5771.0
4,Weekday,57,2917.0,3446.0,3510.0,3259.0,3737.0,3392.0,3161.0,3981.0,...,4912.0,4963.0,5408.0,4921.0,4437.0,5240.0,5459.0,5539.0,4914.0,4788.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,Weekday,611,13.0,11.0,17.0,9.0,19.0,144.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,Weekday,614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,Weekday,639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,Weekday,706,12.0,13.0,13.0,10.0,11.0,12.0,13.0,14.0,...,11.0,11.0,11.0,7.0,10.0,3.0,NaN,NaN,NaN,NaN
135,Weekday,707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN

In [13]:
# datacleaning for ridership
year = pd.Series(["", 2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2023,2023,2023,2023,2023,2023,2023,2023,2023,2023,2023,2023,2024,2024,2024,2024,2024,2024,2024,2024,2024,2024,2024,2024])
month = pd.Series(["", 1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12])

ridership = ridership.set_index('Route').T.to_dict('list')
ridership = pd.DataFrame(ridership)

ridership["month"]=month
ridership["year"]=year

ridership.keys()

new_names = (
    ridership.columns
    .str.replace(' #', '_num')
    .str.replace(' - ', '_') # this is for one problem making column `'community - board'`
    .str.replace(' ', '_')
    .str.lower()
)

if new_names.is_unique == 1:
    ridership.columns = new_names # updates my column names
ridership.columns

#replacing ridership 0 values with nan
ridership = ridership.replace("0", np.nan)

ridership

KeyError: "None of ['Route'] are in the columns"

In [ ]:
# ridership.info()

# ridership.month = ridership.month.astype(float)