In [22]:
# import pandas and numpy module  
import pandas as pd  
import numpy as np


# making dataframe  
ridership = pd.read_csv("Ridership.csv")  
   
# output the dataframe 
ridership.head()

,Day Type,Route,Jan-22,Feb-22,Mar-22,Apr-22,May-22,Jun-22,Jul-22,Aug-22,...,Mar-24,Apr-24,May-24,Jun-24,Jul-24,Aug-24,Sep-24,Oct-24,Nov-24,Dec-24
0,Weekday,1T,"11,638","12,206","12,335","11,994","12,809","12,047","12,229","13,278",...,"16,476","17,486","18,094","15,986","14,494","15,735","16,903","17,576","15,734","16,737"
1,Weekday,51B,"4,837","7,831","6,968","7,670","6,371","5,061","5,399","7,454",...,"7,916","8,535","6,362","5,128","5,355","7,077","9,538","9,244","8,112","6,360"
2,Weekday,40,"5,328","5,455","5,791","4,920","5,638","4,907","4,520","5,202",...,"6,180","6,126","6,574","5,566","4,892","6,110","6,740","7,144","6,055","6,243"
3,Weekday,51A,"4,453","4,638","4,860","5,296","5,202","4,787","4,967","5,392",...,"6,080","6,103","6,496","5,784","5,450","6,107","6,643","6,772","5,882","5,771"
4,Weekday,57,"2,917","3,446","3,510","3,259","3,737","3,392","3,161","3,981",...,"4,912","4,963","5,408","4,921","4,437","5,240","5,459","5,539","4,914","4,788"

In [23]:
#datacleaning for ridership
year = pd.Series(["", 2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2023,2023,2023,2023,2023,2023,2023,2023,2023,2023,2023,2023,2024,2024,2024,2024,2024,2024,2024,2024,2024,2024,2024,2024])
month = pd.Series(["", 1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12])

ridership = ridership.set_index('Route').T.to_dict('list')
ridership = pd.DataFrame(ridership)

ridership["month"]=month
ridership["year"]=year

ridership.keys()

new_names = (
    ridership.columns
    .str.replace(' #', '_num')
    .str.replace(' - ', '_') # this is for one problem making column `'community - board'`
    .str.replace(' ', '_')
    .str.lower()
)

if new_names.is_unique == 1:
    ridership.columns = new_names # updates my column names
ridership.columns

#replacing ridership 0 values with nan
ridership = ridership.replace("0", np.nan)

ridership

,1t,51b,40,51a,57,6,52,18,72r,14,...,703,607,78,611,614,639,706,707,month,year
0,Weekday,Weekday,Weekday,Weekday,Weekday,Weekday,Weekday,Weekday,Weekday,Weekday,...,Weekday,Weekday,Weekday,Weekday,Weekday,Weekday,Weekday,Weekday,,
1,"11,638","4,837","5,328","4,453","2,917","3,580","1,374","2,103","2,934","2,372",...,NaN,7,103,13,NaN,NaN,12,NaN,1,2022
2,"12,206","7,831","5,455","4,638","3,446","4,470","3,267","2,423","3,092","2,608",...,NaN,7,101,11,NaN,NaN,13,NaN,2,2022
3,"12,335","6,968","5,791","4,860","3,510","4,404","2,860","2,462","3,244","2,810",...,NaN,8,115,17,NaN,NaN,13,NaN,3,2022
4,"11,994","7,670","4,920","5,296","3,259","4,552","3,092","2,454","3,155","2,873",...,NaN,9,127,9,NaN,NaN,10,NaN,4,2022
5,"12,809","6,371","5,638","5,202","3,737","4,413","2,050","2,449","3,309","3,255",...,NaN,8,147,19,NaN,NaN,11,NaN,5,2022
6,"12,047","5,061","4,907","4,787","3,392","3,751","1,707","2,404","3,448","3,048",...,NaN,9,150,144,NaN,NaN,12,NaN,6,2022
7,"12,229","5,399","4,520","4,967","3,161","4,000","1,876","2,316","3,280","3,012",...,NaN,NaN,125,NaN,NaN,NaN,13,NaN,7,2022
8,"13,278","7,454","5,202","5,392","3,981","4,783","2,484","2,848","3,761","2,849",...,8,5,143,NaN,NaN,NaN,14,NaN,8,2022
9,"13,584","9,092","5,782","5,724","4,231","5,652","4,154","3,280","4,083","3,348",...,7,11,160,NaN,NaN,NaN,15,4,9,2022
10,"13,558","8,561","5,770","5,709","4,263","5,252","3,829","3,141","3,913","3,387",...,9,11,159,NaN,NaN,NaN,13,3,10,2022
11,"13,192","8,128","5,577","5,354","4,058","4,912","3,692","3,078","3,693","2,858",...,11,15,155,NaN,NaN,NaN,11,4,11,2022
12,"12,473","6,513","4,855","4,819","3,788","4,242","1,687","2,692","3,447","2,945",...,9,13,143,NaN,NaN,NaN,11,2,12,2022
13,"12,966","6,758","5,340","5,254","4,018","4,338","3,056","2,985","3,492","2,821",...,10,12,141,NaN,NaN,NaN,10,2,1,2023
14,"14,298","8,598","5,889","5,828","4,205","5,214","3,991","3,340","3,840","2,940",...,8,14,167,NaN,NaN,NaN,13,2,2,2023
15,"13,383","7,759","5,399","5,151","4,400","4,801","3,636","3,240","3,634","2,722",...,9,13,184,NaN,NaN,NaN,13,3,3,2023
16,"13,876","9,019","5,699","5,454","4,482","6,347","3,809","3,419","3,869","2,897",...,10,16,148,NaN,NaN,NaN,9,2,4,2023
17,"13,983","6,523","5,605","5,502","4,382","4,685","2,312","3,221","3,888","2,805",...,10,11,168,NaN,NaN,NaN,12,3,5,2023
18,"14,085","4,997","5,166","5,374","4,392","4,137","1,739","3,037","3,823","2,710",...,10,NaN,153,NaN,NaN,NaN,11,2,6,2023
19,"13,575","5,771","4,805","5,173","4,028","4,577","2,032","3,083","3,703","2,486",...,10,NaN,126,NaN,NaN,NaN,11,2,7,2023
20,"14,932","8,246","5,848","5,732","4,847","5,590","2,857","3,668","3,835","2,956",...,12,10,23,NaN,NaN,NaN,10,9,8,2023
21,"15,825","10,769","6,380","6,029","5,156","6,124","4,470","3,734","4,101","3,154",...,9,10,NaN,NaN,NaN,NaN,11,5,9,2023
22,"15,885","10,063","6,251","6,061","5,278","5,803","4,099","4,170","3,905","3,225",...,9,12,NaN,NaN,NaN,NaN,11,2,10,2023
23,"15,347","9,317","5,682","5,658","5,112","5,411","3,511","3,545","3,774","2,992",...,8,21,NaN,NaN,NaN,NaN,13,5,11,2023
24,"14,797","6,520","5,467","5,544","4,838","4,319","1,885","3,342","3,751","2,905",...,4,11,NaN,NaN,NaN,NaN,12,2,12,2023
25,"15,185","7,096","5,499","5,465","4,651","4,726","2,534","3,800","3,924","2,998",...,6,7,NaN,NaN,NaN,NaN,12,2,1,2024
26,"16,196","9,114","5,878","5,850","4,892","5,655","3,633","4,041","4,065","3,262",...,7,10,NaN,NaN,NaN,NaN,10,2,2,2024
27,"16,476","7,916","6,180","6,080","4,912","5,146","2,987","3,448","4,011","3,282",...,7,9,NaN,NaN,NaN,NaN,11,2,3,2024
28,"17,486","8,535","6,126","6,103","4,963","5,520","3,581","3,733","4,108","3,258",...,5,9,NaN,NaN,NaN,NaN,11,2,4,2024
29,"18,094","6,362","6,574","6,496","5,408","5,041","2,170","3,580","4,443","3,501",...,6,10,NaN,NaN,NaN,NaN,11,2,5,2024
30,"15,986","5,128","5,566","5,784","4,921","4,383","1,841","3,318","4,184","3,286",...,3,16,NaN,NaN,NaN,NaN,7,1,6,2024
31,"14,494","5,355","4,892","5,450","4,437","3,878","1,938","3,375","4,007","2,959",...,4,NaN,NaN,NaN,NaN,NaN,10,2,7,2024
32,"15,735","7,077","6,110","6,107","5,240","4,492","2,781","3,925","4,018","3,355",...,9,5,NaN,NaN,NaN,NaN,3,1,8,2024
33,"16,903","9,538","6,740","6,643","5,459","5,385","5,078","4,250","4,300","3,465",...,14,6,NaN,NaN,NaN,NaN,NaN,NaN,9,2024
34,"17,576","9,244","7,144","6,772","5,539","5,491","4,949","4,244","4,355","3,537",...,12,9,NaN,NaN,NaN,NaN,NaN,NaN,10,2024
35,"15,734","8,112","6,055","5,882","4,914","4,737","4,222","3,986","3,944","3,037",...,10,7,NaN,NaN,NaN,NaN,NaN,NaN,11,2024
36,"16,737","6,360","6,243","5,771","4,788","4,146","2,861","3,548","4,109","3,026",...,9,16,NaN,NaN,NaN,NaN,NaN,NaN,12,2024