In [6]:
import pandas as pd  
import numpy as np
import geopandas


# making dataframe  
mode = pd.read_csv("transportation_mode_ACSDT5Y2023.B08301-Data.csv")  

new_names = (
    mode.columns
    .str.replace(' #', '_num')
    .str.replace('-', '_') # this is for one problem making column `'community - board'`
    .str.replace(' ', '_')
    .str.lower()
)

if new_names.is_unique == 1:
    mode.columns = new_names # updates my column names
mode.columns

#replacing ridership 0 values with nan
mode = mode.replace("0", np.nan)
mode = mode.replace("NaN", np.nan)

mode.head()

,geo_id,name,b08301_001e,b08301_001m,b08301_002e,b08301_002m,b08301_003e,b08301_003m,b08301_004e,b08301_004m,...,b08301_017m,b08301_018e,b08301_018m,b08301_019e,b08301_019m,b08301_020e,b08301_020m,b08301_021e,b08301_021m,unnamed:_44
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,"Estimate!!Total:!!Car, truck, or van:","Margin of Error!!Total:!!Car, truck, or van:","Estimate!!Total:!!Car, truck, or van:!!Drove a...","Margin of Error!!Total:!!Car, truck, or van:!!...","Estimate!!Total:!!Car, truck, or van:!!Carpooled:","Margin of Error!!Total:!!Car, truck, or van:!!...",...,Margin of Error!!Total:!!Motorcycle,Estimate!!Total:!!Bicycle,Margin of Error!!Total:!!Bicycle,Estimate!!Total:!!Walked,Margin of Error!!Total:!!Walked,Estimate!!Total:!!Other means,Margin of Error!!Total:!!Other means,Estimate!!Total:!!Worked from home,Margin of Error!!Total:!!Worked from home,NaN
1,0400000US06,California,18331098,23377,14033454,21045,12294684,24667,1738770,14640,...,1692,130817,2773,436223,6201,226652,3858,2832962,17462,NaN
2,0500000US06001,"Alameda County, California",829369,3969,512128,4760,444577,4521,67551,2537,...,263,11090,866,22566,1339,9719,855,192628,3418,NaN
3,1400000US06001400100,Census Tract 4001; Alameda County; California,1525,280,700,148,574,128,126,83,...,14,9,14,91,83,19,20,607,156,NaN
4,1400000US06001400200,Census Tract 4002; Alameda County; California,1065,151,328,74,271,78,57,34,...,20,16,21,22,18,NaN,14,493,149,NaN

In [4]:
gdf_acs = geopandas.read_file("/workspaces/CYPLAN-255/final_census_tracts/acs_ala_ct.geojson")
gdf_acs.head()

,statefp,countyfp,tractce,geoid,geoidfq,name,namelsad,mtfcc,funcstat,aland,awater,intptlat,intptlon,geometry
0,06,001,442700,06001442700,1400000US06001442700,4427,Census Tract 4427,G5020,S,1234016,0,+37.5371513,-122.0081095,"POLYGON ((-122.01721 37.53932, -122.01719 37.5..."
1,06,001,442800,06001442800,1400000US06001442800,4428,Census Tract 4428,G5020,S,1278646,0,+37.5293619,-121.9931002,"POLYGON ((-122.0023 37.52984, -122.00224 37.52..."
2,06,001,442900,06001442900,1400000US06001442900,4429,Census Tract 4429,G5020,S,2066523,0,+37.5184093,-121.9748369,"POLYGON ((-121.98773 37.52248, -121.98764 37.5..."
3,06,001,443001,06001443001,1400000US06001443001,4430.01,Census Tract 4430.01,G5020,S,768730,0,+37.5184218,-121.9515237,"POLYGON ((-121.9576 37.52392, -121.95746 37.52..."
4,06,001,443002,06001443002,1400000US06001443002,4430.02,Census Tract 4430.02,G5020,S,1580322,0,+37.5168344,-121.9605916,"POLYGON ((-121.969 37.52248, -121.96885 37.522..."